:root{
  --cor-primaria-botao-white: white; 
  --cor-primaria-botao-green: green;
  --cor-primaria-botao-red:   red;
  --cor-primaria-botao-yellow:rgba(255, 199, 0, 1);
  --cor-primaria-botao-blue:  rgba(6, 74, 140, 1);
  ;
}



.tela-cadastro-salas .container-cadastro-salas{
  
    display: flex;
    
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    align-items: center;
    padding: 5px;
    
    
  
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    

  }

  

  .tela-cadastro-salas .wrap-cadastro-salas{
    width: 40vw;
    display: flex;
   
    align-items: center;
    justify-content: center;
    
    padding: 15px;
    border-radius: 15px;
   
    margin: 10% auto;
    background-color: rgb(255, 255, 255);
    
    
    
  }
  .tela-cadastro-salas .cadastro-sala-form{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 3px;

  }
  
  .tela-cadastro-salas .wrap-input{
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgb(76,76,76);
    display: block;
    font-size: 15px;
    height: 46px;
    background: transparent;
    padding-bottom: 0px; 
    
    
    
  }
  .tela-cadastro-salas .input-form{
    font-size: 15px;
    color: rgb(76,76,76);
    display: block;
    width: 100%;
    height: 65px;
    background: transparent;
    padding-bottom: 0;
    border: none;
    outline: none !important;
    
    
    
  }
  .tela-cadastro-salas .margin-bottom-35{
    margin-bottom: 35px;
  }
 
  
  
  .tela-cadastro-salas .focus-input-form{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 0;
    pointer-events: none;
    
    
  }
  .tela-cadastro-salas .focus-input-form::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background-color: #212121;
    
    

  }
  
  .tela-cadastro-salas .focus-input-form::after{
    font-size: 15px;
    margin-top: 15px;
    color: burlywood;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: relative;
    padding-left: 0px;
    transition: all 0.4s;
    color: rgb(55, 64, 71);
    
    
  }
  
  .input-form:focus  ~ .focus-input-form::after, .input-form:valid ~ .focus-input-form::after{
    top: -20px;
    font-size: 15px;
    border: none;
    
  }
  
  .input-form:valid  ~ .focus-input-form::after{
    top: -20px;
    font-size: 15px;
   
    
  }

  .container-cadastro-sala-form-btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
  }
  .cadastro-sala-form-btn{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    
    
  }


.text-area{
    display: flex;
    flex-direction: row;
    justify-self: center;

    
}
#descrição{
    display: flex;
    align-items: center;
    font-size: 15px; 
    opacity: 0.7;
    padding-right: 30px;
}

.area-anexo{
  width: 150px;
  height: 150px;
}

#selecao-cor-text{
  display: flex;
  justify-self: center; 
  opacity: 0.7;

}
.img-area{
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  
}
#img-text{
  display: flex;
  display: flex;
  align-items: center;
  padding-bottom: 20px; 
  opacity: 0.7;
  

}
.text-descricao{
  resize: none;
  width: 85%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  
  text-align: center; 
  border: solid black 1px;
  opacity: 0.7;
  outline: none
  
}

.cor-sala{
  width: 100%;
  display: flex;
 flex-direction: row;
 
 justify-content: space-evenly;
 padding-top: 20px

}
.alinar-img{
  display: flex;
  flex-direction: column;
  width: 80%;
  
}
.alinar-botao-cor{
  display: flex;
  flex-direction: column;
  width: 8vw;
  align-items: center;
 

}
.area-anexo{
  background-color: aliceblue;
  height: 150px;
  width: 70%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  
  border: dashed  black 2px;
}
#icon-fotos{
  display: flex;
  height: 100%;
  width: 60%;
  opacity: 0.5;
}

.container-cadastro-sala-form-btn  {
  height: 200px;
  width: 100%;
}
.botao-cor{
  display: flex;

  margin: 30px auto;

  width: 45px;
  height: 45px;
  box-shadow: #F7941D 0px 5px 10px 0px;
  border-radius: 9px;
  border: solid beige 3px;
}

input[type="file"] {
  display: none;
  
}
#botão-img{
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  width: 120px;
  justify-content: center;
  padding: 7px;
  border-radius: 7px;
  border: solid black 2px;
  cursor: pointer;
  font-family: 'Montserrat';
  
  font-size: 24px;
  cursor: pointer;
  border-radius: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px; 

  opacity: 0.7;
  
}
.botao-padrao-cadastrar{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30%;
  
}

.botao-cadastrar-submit{
  background-color: var(--cor-primaria-botao-white);
  border: 3px solid var(--cor-primaria-botao-green);
  color: var(--cor-primaria-botao-green);
  font-family: 'Montserrat';
  width: 167px;
  height: 52px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.botao-cadastrar-submit:hover{
  transition: all 0.4s;
  background-color: var(--cor-primaria-botao-green);
  color: var(--cor-primaria-botao-white);
}




.botao-padrao-voltar{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30%;
 
}

.botao-voltar-submit{
  width: 167px;
  height: 52px;
  font-size: 24px;
  background-color: var(--cor-primaria-botao-white);
  border: 3px solid var(--cor-primaria-botao-yellow);
  border-radius: 50px;
  cursor: pointer;
  color: var(--cor-primaria-botao-yellow);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.botao-voltar-submit:hover{
  transition: all 0.4s;
  background-color: var(--cor-primaria-botao-yellow);
  color: var(--cor-primaria-botao-white);
}


.alinar-botoes{
  display: flex;
  justify-content: space-evenly;
}
